{%extends 'core/base.html'%}

{% block title %}Inicio{% endblock %}

{% block top %}
{% load static %}
  <div class="top_block">
    <div class="slider-relative">
      <div class="slider-block">
        <div class="slider">
          <ul class="items">
            {% for item in itemslider_list  %}
              {{ item.title }}
              <li><img src="{{ item.image.url }}" alt="">
                <div class="banner"><span>{{ item.title }}</span>
                  <p>{{ item.description }}</p>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}