{%extends 'core/base.html'%}

{% block title %}Inicio{% endblock %}

{% block top %}
{% load static %}
  <div class="top_block">
    <div class="slider-relative">
      <div class="slider-block">
        <div class="slider">
          <ul class="items">
            <li><img src="{% static 'core/images/slide.jpg' %}" alt="">
              <div class="banner">Refugio <span>Santa</span> <i>Martha</i>
                <p>Hacemos que los animales vivan dignamente</p>
              </div>
            </li>
            <li><img src="{% static 'core/images/slide1.jpg' %}" alt="">
              <div class="banner">They Need Your <span>Love</span> and <i>Care</i>
                <p>It is so easy to make them happy</p>
              </div>
            </li>
            <li><img src="{% static 'core/images/slide2.jpg' %}" alt="">
              <div class="banner">They Need Your <span>Love</span> and <i>Care</i>
                <p>It is so easy to make them happy</p>
              </div>
            </li>
            <li><img src="{% static 'core/images/slide3.jpg' %}" alt="">
              <div class="banner">They Need Your <span>Love</span> and <i>Care</i>
                <p>It is so easy to make them happy</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}